.our-orange {
    color: #FEC330;
}

.le-hero {
    background-image: url('asset/bg.jpg');
    background-size: cover;
    background-position: center;
}

.le-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4a390e;
    opacity: 0.9; /* Adjust for darkness */
    z-index: 1;
}

.le-hero .hero-content {
    z-index: 2;
}

.le-hero-h1 {
    height: 250px;
    width: auto;
}

.le-hero-sub {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

@media (max-width: 768px) { 
    .le-hero-h1 {
        font-size: 2rem;
    }
}

.dedicated-button {
    background-color: #FEC330;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.dedicated-button:hover {
    background-color: #ffa500;
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgb(0 0 0 / 0.5);
}

.dedicated-button:active {
    transform: translateY(0);
}


.large-card {
    padding: 3rem;
    border-radius: 20px;
    font-size: 1.25rem;
    /* box-shadow: 0 4px 14px rgb(0 0 0 / 0.3); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: default;
  }

  .large-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgb(0 0 0 / 0.1);
  }

  .large-card .card-title {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  .large-card .card-text {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

.footer-bg {
    background-color: #db9d00;
}

.cta-padding {
    position: relative;
    background-image: url("asset/app.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 150px;
    margin-bottom: 150px;
    color: #fff;  /* White text to contrast with the dark overlay */
}

.cta-padding::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;  /* Adjust for darkness */
    z-index: 0;
}

.cta-padding > * {
    position: relative;
    z-index: 1;  /* Lift content above the overlay */
}
